@import 'components/reset';
@import 'components/variables';
@import 'components/fonts';
@import 'components/mixins';

@import 'partials/menu.scss';
@import 'partials/home.scss';
@import 'partials/intro.scss';

body
{
    overflow: hidden;
}
.CTA_menu
{
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 3;
    color : white;
    font-family: RalewayBold;
    font-size: 24px;
    transform: translate(-50%, -50%);
    &:hover
    {
        cursor: pointer;
    }
}

.calltoAction_click-container
{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 3;
    color : white;
    font-family: RalewayBold;
    font-size: 24px;
    transform: translateX(-50%);
    &:hover
    {
        cursor: pointer;
    }
}

.plus-icon
{
    position: absolute;
    width: 44px;
    height: 44px;
    border: 2px solid white;
    border-radius: 100%;
    bottom : 5%;
    right: 6.5%;
    .plus-icon__line-1
    {
        position: absolute;
        width: 30px;
        height: 2px;
        background: white;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .plus-icon__line-2
    {
        position: absolute;
        width: 2px;
        height: 30px;
        background: white;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
