@import 'components/reset';
@import 'components/variables';
@import 'components/fonts';
@import 'components/mixins';

@import 'partials/menu.scss';
@import 'partials/home.scss';
@import 'partials/intro.scss';

body
{
    overflow: hidden;
}
.CTA_menu
{
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 3;
    color : white;
    font-family: RalewayBold;
    font-size: 24px;
    transform: translate(-50%, -50%);
    &:hover
    {
        cursor: pointer;
    }
}

.calltoAction_click-container
{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 3;
    color : white;
    font-family: RalewayBold;
    font-size: 24px;
    transform: translateX(-50%);
    &:hover
    {
        cursor: pointer;
    }
}

