@import 'components/reset';
@import 'components/variables';
@import 'components/fonts';
@import 'components/mixins';

@import 'partials/menu.scss';
@import 'partials/home.scss';
@import 'partials/intro.scss';
@import 'partials/player.scss';
@import 'partials/dataviz.scss';

body
{
    overflow: hidden;
}
.CTA_menu
{
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 3;
    color : white;
    font-family: RalewayBold;
    font-size: 24px;
    transform: translate(-50%, -50%);
    &:hover
    {
        cursor: pointer;
    }
}

.calltoAction_click-container,
.sufficient__calltoAction_click-container
{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 3;
    color : white;
    font-family: RalewayBold;
    font-size: 24px;
    transform: translateX(-50%);
    &:hover
    {
        cursor: pointer;
    }
}
.sufficient__calltoAction_click-container
{
    opacity: 1;
    visibility: visible;
}
.plus-icon
{
    position: absolute;
    width: 44px;
    height: 44px;
    border: 2px solid white;
    border-radius: 100%;
    bottom : 5%;
    right: 13.5%;
    .plus-icon__line-1
    {
        position: absolute;
        width: 30px;
        height: 2px;
        background: white;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .plus-icon__line-2
    {
        position: absolute;
        width: 2px;
        height: 30px;
        background: white;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.sound_container
{
    position: absolute;
    width: 44px;
    height: 44px;
    border: 2px solid white;
    border-radius: 100%;
    bottom : 5%;
    right: 6.5%;
    
    .sound_bar
    {
        position: absolute;
        width: 3px;
        height: 20px;
        background: white;
        top:25%;
        transform: translate(-50%,-50%);
        animation: equalizer-bar-boom 1s infinite backwards;
        will-change: transform;
    }
    .sound_bar-1 { left: 25%;animation-delay: 0.2s;}
    .sound_bar-2 { left: 50%;animation-delay: 0.7s;}
    .sound_bar-3 { left: 75%;animation-delay: 0.4s;}


    @keyframes equalizer-bar-boom
    {
        0% { transform: scaleY(0.1); }
        10% { transform: scaleY(1); }
        100% { transform: scaleY(0.1); }
    }
}
