.intro-section__global-container
{
    position: absolute;
    width: 40%;
    height: 33%;
    top : 55%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    .intro-section__title-container
    {
        overflow: hidden;
        height: 10%;
        .intro-section__title-container__title
        {
            font-family: RalewayExtraLight;
            font-size: 16px;
            letter-spacing: .4px;
            margin-bottom: 10px;
        }
    }
    .intro-section__text-container
    {
        overflow: hidden;
        height: 90%;
        .intro-section__text-container__text
        {
            font-family: RalewaySemiBold;
            font-size: 42px;
            letter-spacing: .8px;
            line-height: 64px;
            @media screen and (max-width : 1280px){
                font-size: 32px;
                line-height: 46px;
            }
        }
    }
}

.intro-slide__controller-container
{
    opacity: 0;
    position: absolute;
    color: white;
    right: 6.5%;
    top: 38%;
    width: 2%;
    .intro-slide__slide
    {
        opacity: 0;
        display: block;
        width: 100%;
        height: 20%;
        font-family: RalewayBold;
        font-size: 18px;
        margin-bottom: 45px;
    }
    .current_slide_indicator
    {
        opacity: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 2px solid white;
        z-index: 1;
        position: absolute;
        left: -17px;
        top: -10px;
    }
}

.intro_2_container,
{
    position: absolute;
    width: 100%;
    height: 100%;
    background : white;
    top: 100%;
    // transform: translateX(-100%);
}

.intro_2_container__text-container
{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 50%;
    transform: translate(-50%, -50%);
    font-family: HelveticaNeueLight;
    
    .intro_2_container__text-container__text
    {
        font-size: 32px;
        letter-spacing: .45px;
        line-height: 45px;
        text-align: center;
    }
}
.conclusion-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    background : white;
    top: 100%;

    .conclusion_text-container
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 80%;
        transform: translate(-50%, -50%);
        font-family: HelveticaNeueLight;
        .title_conclusion__title
        {
            font-size: 16px;
            font-family: RalewayExtraLight;
            position: absolute;
            top:0%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .title_conclusion__subtitle
        {
            font-size: 24px;
            font-family: RalewaySemiBold;
            position: absolute;
            top:5%;
            width :70%;
            text-align: center;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .intro_2_text_1
        {
            position: absolute;
            top: 20%;
            font-family: HelveticaNeueLight;
            font-size: 32px;
            letter-spacing: .45px;
            line-height: 45px;
            text-align: center;
        }
        .intro_2_text_2
        {
            position: absolute;
            top: 60%;
            font-family: HelveticaNeueLight;
            font-size: 32px;
            letter-spacing: .45px;
            line-height: 45px;
            text-align: center;
        }
    }
}
.blue
{
    color: $blue;
}
.gold
{
    color: $gold;
}


.plus-intro-part
{

    position: absolute;
    width: 55%;
    height: 100%;
    top: 0%;
    left: 100%;
    background :$green;
    .plus-intro-part__text-container
    {
        position: absolute;
        width: 40%;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        @media screen and (max-width : 1280px){
            width: 50%;
        }
        .plus-intro-part__text-container__titre-1,
        .plus-intro-part__text-container__titre-2,
        .plus-intro-part__text-container__titre-3,
        .plus-intro-part__text-container__titre-4
        {
            font-family: HelveticaNeueBold;
            font-size: 16px;
            letter-spacing: .6px;
            line-height: 24px;
            @media screen and (max-width : 1280px){
                font-size: 14px;
                line-height: 20px;
            }
        }
        .plus-intro-part__text-container__text-1,
        .plus-intro-part__text-container__text-2,
        .plus-intro-part__text-container__text-3
        {
            font-family: HelveticaNeue;
            font-size: 14px;
            letter-spacing: .6px;
            line-height: 24px;
            margin-bottom: 15%;
            opacity: .8;
            @media screen and (max-width : 1280px){
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 5%;
            }

        }
    }

}

.collaborative_text_blank
{
    position: absolute;
    width: 100%;
    height: 50%;
    top:50%;
    transform: translateY(-50%);

}

.visible
{
    visibility: visible;
    opacity: 1;
}

.sufficient_1,
.sufficient_2,
.sufficient_3
{
    opacity: 0;
}