.menu
{
    @include center();
    opacity: 0;
    .menu-section
    {
        position: absolute;
        height: 100%;
        width: 18%;
        top: 0%;
        background-color: #0E1A3D;
        overflow: hidden;
        &:hover
        {
            cursor: pointer;
            .menu-section__subtitle
            {
                opacity: 1;
            }
            .menu-section__image
            {
                opacity: 0.7;
            }
        }
        .menu-section__image
        {
            position: absolute;
            height: 100%;
            top: 0%;
            opacity: 0.1;
        }
        .menu-section__subtitle
        {
            position: absolute;
            height: 10%;
            top : 50%;
            left: 50%;
            transform: translate(-55%);
            color: white;
            text-align: center;
            font-size: 30px;
            opacity: 0;
        }
        .menu-section__title
        {
            position: absolute;
            height: 10%;
            top : 50%;
            left: 50%;
            transform: translate(-75%, -50%);
            color: white;
            text-align: center;
            font-size: 30px;
        }
    }
}

.section-1
{
    left:0%;
}
.section-2
{
    left:16.6%;
}
.section-3
{
    left:33.2%;
}
.section-4
{
    left:49.8%;
}
.section-5
{
    left:66.4%;
}
.section-6
{
    left:83%;
}